# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
*.log
logs/

# IDEs
## STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Optional: environment files
*.env
application-*.yml
application-*.properties
